/* defining variables */
:root {
    /* defining palette */
    --darkest-color: black;
    --light-color: white;
    --dark-color: #0c0c0c;

    /* assigning colors to their roles */
    --primary-color: var(--darkest-color);
    --secondary-color: var(--dark-color);
    --accent-color: var(--light-color);

    /* font style variables */
    --main-font: 'Manrope', sans-serif;
    --huge-text: 48px;
    --medium-text: 16px;
    --small-text: 12px;

    /* border variable */
    --default-border: 2px solid var(--dark-color);
}

/* setting color styles globally */
body {
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-family: var(--main-font);
    margin: 0 auto;
    font-size: var(--medium-text);
}

header, #bio, #about, #works, footer {
    border-bottom: var(--default-border);
    width: 100%;
}

/* Layout section: Flex, Grid and dimensions */

#header-wrapper, #bio-wrapper, #about-wrapper, #works-wrapper, #footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
}

#header-wrapper {
    height: 100px;
}

.narrow {
    width: 25%;
    padding: 32px 0px;
}

.wide {
    width: 75%;
    padding: 32px 0px 32px 32px;
}

#about-wrapper, #works-wrapper, #footer-wrapper {
    align-items: stretch;
}

#bio-wrapper {
    align-items: flex-end;
    padding: 32px 0px;
}

#bio-wrapper .section-content {
    width: 30%;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-project, .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 8px;
}

.grid-section {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
}

.main-project {
    grid-column: 1 / -1; /* main project to span from the first (1) to the last (-1) column */
}

/* Headings & Paragraph */

h1 {
    font-size: inherit;
    font-weight: 700;
}

h2 {
    font-size: var(--huge-text);
    font-weight: 200;
}

h3 {
    font-weight: inherit;
    font-size: var(--medium-text);
    margin: 0px;
}

h4 {
    font-size: inherit;
    font-weight: inherit;
}

/* Style section */

a {
    color: inherit;
    text-decoration: none;
    font-size: var(--small-text);
    background-color: var(--dark-color);
    padding: 4px 12px;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
}

#avatar {
    width: 25%;
    border-radius: 50%;
}

.section-title {
    border-right: var(--default-border);
}

.material-symbols-outlined {
    vertical-align: bottom;
}

.links {
    position: absolute;

    /* it's not a random value it's equal to its child's bottom padding */
    bottom: 4px;
    left: 0px;
    padding: 8px;
}

/* Projects section */

.project-preview {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-color: #FFFFFF;
    position: relative;
    padding: 0px;
    border-radius: 16px;
}

#project1 {
    background-image: url("../images/webp/login-screen.webp");
}

#project2 {
    background-image: url("../images/webp/volleyball-scorecounter.webp");
}

#project3 {
    background-image: url("../images/webp/digital-business-card-v.webp");
}

#project4 {
    background-image: url("../images/webp/react-travel-journal-v.webp");
}

#project5 {
    background-image: url("../images/webp/HoriSEOn.webp");
    background-position: left;
}

#project6 {
    background-image: url("../images/webp/personal-creative-portfolio.webp");
    background-position: left;
}

#project7 {
    background-image: url("../images/webp/fantasy-landing-page.webp");
    background-position: right;
}

/* pseudo classes */

a:hover {
    text-decoration: none;
    background-color: var(--darkest-color);
    box-shadow: 0 0 0 2px var(--light-color);
}